{% if has_cxxstring_abi %}
option('cxxstring_abi', type: 'combo', choices: [{{ cxxstring_choices }}], value: '{{ cxxstring_default }}')
{% endif %}
{% if has_libgfortran %}
option('libgfortran_version', type: 'combo', choices: [{{ libgfortran_choices }}], value: '{{ libgfortran_default }}')
{% endif %}
